:root {
    --background-default: #f0f0f0;
    --button-default: #333;
    --background-accent: #4caf50;
    --button-accent: #fff;
    --title-default: #333;
}

.page {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content {
    padding: 16px;
}
