:root {
    --background-default: #f0f0f0;
    --button-default: #333;
    --background-accent: #4caf50;
    --button-accent: #fff;
    --title-default: #333;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.content {
    padding: 16px;
}
