.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 50px;
    padding: 0 16px;
}

.left {
    flex: 0 0 auto;
}

.right {
    flex: 0 0 auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding-right: 55px;
}

.buttonBack {
    background-color: var(--background-accent);
    font-size: 14px;
    padding: 6px 12px;
    opacity: 0.9;
    cursor: pointer;
    border-radius: 4px;
}
