.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 30px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
}

.buttonEasy {
    background: #4caf50;
}

.buttonMedium {
    background: #ff9800;
}

.buttonHard {
    background: #f44336;
}

@media (hover: hover) {
    .buttonEasy:hover {
        background-color: var(--dificult-setting-accent-hover);
        color: var(--foreground-accent-hover);
    }

    .buttonMedium:hover {
        background-color: var(--dificult-setting-accent-hover);
        color: var(--foreground-accent-hover);
    }

    .buttonHard:hover {
        background-color: var(--dificult-setting-accent-hover);
        color: var(--foreground-accent-hover);
    }
}
