:root {
    --bg-default: #f0f0f0;
    --text-default: #333;
    --bg-accent: #4caf50;
    --text-accent: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title {
    font-size: 24px;
    color: var(--text-default);
    margin-bottom: 30px;
}

.topButtons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.bottomButtons {
    margin-top: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: var(--bg-default);
    color: var(--text-default);
    transition:
        background 0.3s,
        color 0.3s;
}

@media (hover: hover) {
    .button:hover {
        background-color: var(--bg-accent);
        color: var(--text-accent);
    }
}
