.menu {
    display: grid;
    justify-items: center;
    padding: 50px 20px;
    gap: 20px;
}

.title {
    font-size: 24px;
    color: var(--foreground-default);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 480px;
    gap: 20px;
    justify-items: stretch;
}

.buttonStart {
    grid-column: 1;
    grid-row: 1;
}

.buttonHistory {
    grid-column: 2;
    grid-row: 1;
}

.buttonInstruction {
    grid-column: 1;
    grid-row: 2;
}

.buttonLeaderboard {
    grid-column: 2;
    grid-row: 2;
}
