:root {
    --background-default: #f0f0f0;
    --foreground-default: #333;

    --background-accent: #2196f3;
    --foreground-accent: #fff;

    --background-accent-hover: #4caf50;
    --foreground-accent-hover: #cfe907;

    --dificult-setting-accent-hover: #f9f9f9;
}
